{
    "token": "your discord token here",
    "prefix": ">s",
    "mute": {
        "timer": 30,
        "duration": 5,
        "channel": ["channel that users can vote in"]
    },
    "snipe": {
        "limit": 20
    }
}
